*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}


#box{
    height: 580px;
    width: 460px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;
    

}

#box img:hover{
    scale: 1.2;
}